@model IEnumerable<CurricullumVitae.Models.Document>

@{
    ViewData["Title"] = "Index";
}

<div>
    <h4>My Curriculum Vitae</h4>
    <hr />


    <table>
        <thead>
            <tr>
                <th>Owner</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        Constantin
                    </td>
                    <td>
                        @item.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div>
    <a asp-area="" asp-controller="Document" asp-action="Create">Create</a>
</div>
